

.test-simulator {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 100%;
    overflow: hidden;
}

@media (min-width: 768px) {

    .inside {
        max-width: 70vw;
    }
}